---
- name: Download Helm installation script
  get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: "0755"

- name: Install Helm
  shell: /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm

- name: Verify Helm installation
  command: helm version
  register: helm_version_output
  changed_when: false

- name: Display Helm version
  debug:
    var: helm_version_output.stdout
