---
- name: Create Django ConfigMap
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: django-config
        namespace: "{{ app_namespace }}"
      data:
        APP_NAME: "{{ app_name }}"
        APP_HOST: "{{ app_host }}"
        APP_PORT: "{{ app_port | string }}"
        APP_ENV: "{{ environment }}"
        DEBUG: "{{ debug | string }}"
        ALLOWED_HOSTS: "{{ allowed_hosts }}"
        POSTGRES_HOST: "{{ db_host }}"
        POSTGRES_PORT: "{{ db_port | string }}"
        POSTGRES_DB: "{{ db_name }}"
        POSTGRES_USER: "{{ db_username }}"
        REDIS_HOST: "{{ redis_host }}"
        REDIS_PORT: "{{ redis_port | string }}"
        CELERY_BROKER_URL: "{{ celery_broker_url }}"
        CELERY_RESULT_BACKEND: "{{ celery_result_backend }}"
