---
plugin: aws_ec2
regions:
  - us-east-1
filters:
  tag:kubernetes.io/cluster/django-app-dev: "owned"
  instance-state-name: running
keyed_groups:
  - key: tags.Name
    separator: ""
  - key: placement.availability_zone
hostnames:
  - private-ip-address
compose:
  ansible_host: private_ip_address
  ansible_user: "'ec2-user'"
